.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap; /* Add flex-wrap property to wrap items to the next line */
    justify-content: center; /* Center align items horizontally */
    align-items: flex-start; /* Align items at the top vertically */
    border: #333;
  }
  
  .container2 {
    width: 40%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  
  
  
  .textbox {
    background: rgba(33, 33, 33, 0.297);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* Adjust the value as needed */
    box-align: right;
    color: #ffffff;
    margin-top: 10px;
    text-align: left; /* Add this line to align the text to the left */
  }
  
    
  .output {
    border: 2px solid #636262;
    width: 82%;
    max-width: 800px;
    padding: 40px;
    background: linear-gradient(#ff000000, #ff38bd00);
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
    position: relative;
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    margin-top: 10px; /* Adjust the value as needed */
    margin-bottom: 20px; /* Adjust the value as needed */
    height: 50px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  
    /* Set global font and color */
    body {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #ffffff;
      background-image: url('hero31.jpg');
      background-color: #333333;
      background-size: cover;
      position: relative;
    }
    
    body::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here (0.5 = 50% opacity) */
      filter: blur(5px); /* Adjust the blur amount here */
      z-index: -1;
      backdrop-filter: blur(3px);
    }
    
    
    @font-face {
      font-family: 'Ters';
      src: url('TerselyRegular-z8LOL.ttf') format('truetype');
      /* Add additional src lines for other font file formats if available */
    }
  
    @font-face {
      font-family: 'Bul';
      src: url('Bulgatti-xgMV.ttf') format('truetype');
      /* Add additional src lines for other font file formats if available */
    }
    /* Header styles */
    /* Header styles */
    header {
      background-color: transparent;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    header h1{
      margin-top: 0;
      font-family: 'ters', Arial, Helvetica, sans-serif;
    }
    
    nav ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
    }
    
    nav li {
      margin-left: 20px;
    }
    
    nav li:first-child {
      margin-left: auto;
    }
    
    nav a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      transition: color 0.3s ease;
    }
    
    nav a:hover {
      color: #bbb;
    }
    
    
    /* Hero section styles */
    .hero {
      background-image: url('hero.jpg');
      background-size: cover;
      background-position: center;
      padding: 100px 0;
      text-align: center;
    }
    
    .hero h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    
    .hero p {
      font-size: 18px;
      margin-bottom: 40px;
    }
    
    /* Services section styles */
    .services {
      background-color: #fff;
      padding: 50px 0;
      text-align: center;
    }
    
    .services h2 {
      font-size: 30px;
      margin-bottom: 30px;
    }
    
    .service {
      display: inline-block;
      margin-bottom: 40px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    
    .service:hover {
      transform: translateY(-5px);
    }
    
    .service a {
      text-decoration: none;
      color: #333;
      transition: color 0.3s ease;
    }
    
    .service a:hover {
      color: #777;
    }
    
    .service h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    .service p {
      line-height: 1.5;
    }
    
    /* Button styles */
    .button {
      display: inline-block;
      padding: 10px 20px;
      background: linear-gradient(#ffae0000, #b638ff00);
      color: #fff;
      text-decoration: none;
      border-radius: 20px;
      font-size: 16px;
      transition: background-color 0.3s ease;
      border: 1px solid #fff; /* Add thin border line */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      position: relative;
      overflow: hidden;
      margin: 0 auto; /* Add this line to center the button horizontally */
    }
    
    
    .button:before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      background-image: url('grain-texture.png');
      opacity: 0.2;
      z-index: -1;
    }
    
    
    .button:hover {
      background: linear-gradient(to bottom right, #ff7300c0, #8a2bf7b7);
      border: none; /* Add thin border line */
    }
    
    /* Footer styles */
    footer {
      background-color: transparent;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
    
    footer p {
      font-size: 14px;
    }
    
    /* Container styles */
    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 0 20px;
      
    }
  
    .container h2{
      font-family: 'Bul';
      text-align: center;
    }
    
    /* Responsive styles */
    @media screen and (max-width: 768px) {
      .container {
        padding: 0 10px;
      }
    
      header {
        padding: 10px;
      }
    
      nav li {
        margin: 10px 0;
      }
    }
    
    @media screen and (max-width: 480px) {
      .hero h1 {
        font-size: 24px;
      }
    
      .hero p {
        font-size: 16px;
      }
    
      .services h2 {
        font-size: 24px;
      }
    
      .service h3 {
        font-size: 20px;
      }
    
      footer p {
        font-size: 12px;
      }
    }
    .playlist-container{
      font-family: 'ters', Arial, Helvetica, sans-serif;
      width: 30%;
      margin: 10px; ;
      
    }

    .ptitle{
        text-align: center;
        margin-left: 50px;
    }
    h2 {
        font-family: 'BUL', arial, Helvetica, sans-serif;
        text-align: center; /* Center align the heading */
        margin-top: -25px;
      }
      /* Style the resources section */
.resources-section {
    border: 0.005px solid #63626267;
    padding: 4rem 2rem;
    text-align: center;
    backdrop-filter: blur(10px); /* Apply backdrop blur effect */
    background-color: rgba(42, 42, 42, 0.077); /* Set a transparent background */
    border-radius: 30px;
  }
  
  .resources-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .resource-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    border-radius: 25px;
  }
  
  .resource-tiles .resource-tile {
    border: 0.5px solid #636262;
    border-radius: 25px;
    background-color: rgba(43, 43, 43, 0.219); /* Set a transparent background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px); /* Apply backdrop blur effect */
  }
  
  .resource-tiles .resource-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .resource-tiles .resource-tile img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  .resource-tiles .resource-tile h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .resource-tiles .resource-tile p {
    font-size: 1rem;
    text-align: center;
  }
  
      