<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css')}}">
</head>
<body>
  <header>
    <h1>MelodyMood</h1>
    <nav>
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="gs">Generate</a></li>
        <li><a href="ExPlay">Existing Playlists</a></li>
        <li><a href="about">about</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="container">
    <h2>About Our Company</h2>
    <div class="textbox">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae eros non ligula efficitur malesuada non et quam. Curabitur bibendum sem ac neque facilisis, in lobortis ex suscipit. Fusce efficitur bibendum condimentum. Donec id elit sem. Donec vel ante posuere, bibendum arcu sed, congue sapien. Pellentesque lacinia malesuada erat, eget venenatis dui aliquet vitae. Integer feugiat rhoncus semper. Sed ut sem in lacus volutpat varius.</p>
      <p>Phasellus vestibulum efficitur sem, et tempus turpis facilisis vel. Ut congue lacus mauris, vel venenatis lectus condimentum nec. Donec tincidunt sem nec sapien tempus, id auctor mauris lacinia. Sed non efficitur massa. Curabitur pretium ex id tellus fringilla, nec faucibus enim ultricies. Fusce lacinia ultricies arcu a viverra. Nullam ac eleifend est, in semper nisl. Sed fringilla neque vitae aliquet ullamcorper.</p>
    </div>
  </div>
  
  <footer>
    <p>&copy; 2023 Your Company. All rights reserved.</p>
  </footer>
</body>
</html>
