<!DOCTYPE html>
<html>
<head>
  <title>Existing_Plyalist</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ExPlay.css')}}">
</head>
<body>
  <header>
    <h1>MelodyMood</h1>
    <nav>
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="gs">Generate</a></li>
        <li><a href="ExPlay">Existing Playlists</a></li>
        <li><a href="about">About</a></li>
      </ul>
    </nav>
  </header>

  <section class="resources-section">
    <h2>Playlists</h2>
    <div class="resource-tiles">
      <div class="resource-tile">
        <a href="https://open.spotify.com/playlist/20vZkTZRYh5wR0k4VUq5Sg?si=_lzN-GFtSMuT83P8jU0WPQ">
        <img
          src="/static/hero21.jpg"
          alt="Therapy session"
        /></a>
        <h3>Heartbreak</h3>
        <p>
        
        </p>
    
      </div>
      <div class="resource-tile">
        <a href="https://open.spotify.com/playlist/2OnqlMH7BShWK825gSFa3N?si=ad6fc263f21c46b0"><img src="/static/hero31.jpg" alt="Person meditating"></a>
        <h3>Meditation resources</h3>
        <p>
         
        </p>
      </div>
      <div class="resource-tile">
        <img
          src="/static/hero1.jpg"
          alt="Person jogging"
        />
        <h3>Exercise resources</h3>
        <p>
      
        </p>
      </div>
    </div>
  </section>


  <footer>
    <p>&copy; 2023 Playlist Showcase. All rights reserved.</p>
  </footer>
</body>
</html>
